# Mac OS X
*.DS_Store

# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
# *.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
xcshareddata

thirdparty/ios-registration/build/

*.svn-base
.idea
*.idea/*
DerivedData/
Agent.xcodeproj/xcshareddata/xcschemes/Mac App Unit Tests.xcscheme
Agent.xcodeproj/xcshareddata/xcschemes/Mac Unit Tests.xcscheme
Agent.xcodeproj/xcshareddata/xcschemes/iOS App Unit Tests.xcscheme
config.h

*+Namespace.h

# Pods
Pods/*
